.products {
  padding: 0px 50px;
  display: flex;

  .left {
    flex: 1;
    position: sticky;
    height: 100%;
    top: 50px;

    .filterItem {
      margin-bottom: 30px;

      h2 {
        font-weight: 600;
        margin-bottom: 20px;
      }

      .inputCategory {
        margin-bottom: 10px;
        label {
          font-weight: 500;
          margin-left: 10px;
        }
      }
    }
  }

  .right {
    flex: 3;
  }
}
