.slider {
  margin: auto;
  margin-top: 50px;
  border-radius: 20px;
  height: 50vh;
  width: 1600px;
  position: relative;
  overflow: hidden;

  .container {
    width: 300vw;
    height: 100%;
    display: flex;
    transition: all 1s ease;

    img {
      height: 90%;
      cursor: pointer;
      object-fit: cover;
    }
  }

  .icons {
    width: fit-content;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    gap: 10px;
    margin: auto;

    .icon {
      width: 50px;
      height: 50px;
      border: 1px solid grey;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: white;
      border-radius: 10px;
      p {
        color: grey;
        font-size: 50px;
        transform: translateY(-4px);
      }
    }
  }
}
